 main {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: auto;
     grid-template-areas:
        "display display display display"
        "clear delete power divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "decimal zero equals equals";
     grid-gap: 10px 10px;
     margin: 50px auto;
     padding: 10px;
     text-align: center;
     border: 1px solid black;
     border-radius: 5px;
     width: 500px;
     height: auto;
     background: #404040;
 }

 .display {
     grid-area: display;
     border: 3px solid black;
     border-radius: 5px;
     height: auto;
     background: white;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     justify-content: space-around;
     word-wrap: break-word;
     word-break: break-all;
     padding: 10px;
 }

 .previous-operand {
     font-size: 1.5rem;
 }

 .current-operand {
     font-size: 2.5rem;
     font-weight: bold;
 }

 .calc-btn {
     padding: 20px;
     margin: 5px;
     border: 1px solid black;
     border-radius: 5px;
     font-size: 40px;
 }

 .calculator > button {
     cursor: pointer;
 }

 .number {
     background: rgba(245,245,245, 0.9);
 }

 .number:hover {
     background: rgba(245,245,245, 1);
 }

 .operator {
     background: rgba(255, 255, 102, 0.9);
 }

 .operator:hover {
    background: rgba(255, 255, 102, 1);
 }

 #clear {
     grid-area: clear;
     background: rgba(0, 153, 255, 0.9);
 }
 
 #clear:hover {
    background: rgba(0, 153, 255, 1);
 }

 #delete {
    grid-area: delete;
    background: rgba(255, 0, 0, 0.9);
    font-size: 30px;
}

#delete:hover {
    background: rgba(255, 0, 0, 1);
}

#power {
    grid-area: power;
}

#divide {
    grid-area: divide;
    font-size: 50px;
}

#multiply {
    grid-area: multiply;
}

#subtract {
    grid-area: subtract;
}

#add {
    grid-area: add;
}

#equals {
    grid-area: equals;
    background: rgba(0, 204, 0, 0.9);
}

#equals:hover {
    background: rgba(0, 204, 0, 1);
}

#decimal {
    grid-area: decimal;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}